.pic-info-btn {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 50%;
    padding: 8px 12px;
    font-size: 0.75rem;
    color: white;
    background-color: rgb(199, 199, 199);
    backdrop-filter: blur(2px);
    z-index: 3;
    cursor: default;
}

.pic-info-btn.top-left {
    top: 8px;
    left: 10px;
    
}

.pic-info-btn.top-right {
    top: 8px;
    right: 10px;
}
