.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 80%;
}


.searchInput {
  width: 80vw;
  padding: 6px; 
  border: 2px solid #eeeeee;
  background-color:  #eeeeee;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.searchInput:focus {
  border-color: #e3c0c5;
  box-shadow: 0 0 5px rgba(212, 64, 87, 0.5);
}
