*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
    --bg-color: rgb(255, 255, 255);
    --bg-color-hover: black;

}
header{
    background-color: var(--bg-color);
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px;
    
  
}

.logo{
    width: 30px;
    height: 30px; 
    padding: 0;
    margin: 0; 
    cursor: pointer;
         
   
}

.navContainer {
    display: flex;
    align-items: center;
    gap: 1rem; /* Menor separación entre elementos */
    width: 100%;
    justify-content: space-between;
}

ul{
    display: flex;
    margin-left: 0;
    gap: 5px;
    
}


a {
    text-decoration: none;
    margin-left: 3px;
    color: var(--bg-color-hover);
    font-weight: 400;
    padding: 4px; 
    border-radius: 25px;     
    transition: all 0.3s ease-in-out; 
}

a:hover {
    background-color: var(--bg-color-hover);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    cursor: pointer;
}


.searchForm {
    flex: 1;
    display: flex;
    justify-content: flex-start;   
    width: 100%;      
    margin: 0 auto; 
}

.searchInput {
    padding: 8px;
    border-radius: 20px;
    width: 100%;                
}

.aPrivate{
    display: flex;
    margin-left: auto;
}



/*-----------MEDIA -------------*/
@media(max-width: 600px) {
   
    nav ul,
    .navContainer nav {
      display: none;
    }
    .logo{
        margin-right: 15px;
    }    
    .personal-links > li {
        display: none;
      }

    .personal-links > li:last-child {
        display: flex !important;
        align-items: center;
        justify-content: start;
      }  
      .searchForm {
        max-width: 90%;         
        padding: 0 10px;    
    }

    .searchInput {
        padding: 6px;          
    }
}    


@media (min-width: 601px) and (max-width: 899px){
    ul{
        display: flex;
        gap: 0px;        
    }    
}



    